#headerContainer {
    background-color:#003b95;
    /* background-color: #004e78; */
    display: flex;
    justify-content: center;
    position: relative;
}

#header {
    width: 100%;
    max-width: 1024px;
    padding: 20px 0px;
    margin: 20px 0px 80px 0px;
    color: white;

}

/* header list Section 1 */

#headerList {
    display: flex;
    gap: 40px;
}

.headerListItem {
    display: flex;
    gap: 5px;
    align-items: center;
}

.active {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 10px;
}

/*  Other work Section 2 */

.headerOtherWork {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.headerBtn {
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 8px 10px;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    /* background-color: #002c78; */
    background-color: #246ce9;
    cursor: pointer;
    letter-spacing: 0.4px;
}

/* Header Main search baar Sction 3 */

.headerSearchContainer {
    height: 50px;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px 0px; */
    position: absolute;
    bottom: -25px;
    border: 5px solid #febb02;
    border-radius: 10px;
    column-gap: 5px;
    background-color: #febb02;

}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;  
    height: 100%;
    flex: 1;
    background-color: white;
    padding: 0px 10px;
    border-radius: 8px;
}

.headerSearchItem span {
    cursor: pointer;
}

.headerSearchItem .dateRangePicker{
    z-index: 1;
}

.searchBar {
    border: none;
    padding: 4px 6px;
    outline: none;
}

.searchBar:focus {
    outline: none;
    border: 1px solid;

}


/* date ranger */

.dateRangePicker {
    position: absolute;
    top: 50px;
    z-index: 999;
    background-color: aliceblue;
}

/* all Options Container */
.allOptionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    row-gap: 15px;
    position: absolute;
    top: 50px;
    box-shadow: 0px 0px 10px -5px rgb(0,0,0);
    z-index: 1;
    background-color: aliceblue;
}

.option{
    display: flex;
    justify-content: space-between;
    width: 170px;   
    /* height: 20px; */
    align-items: center;
}

.optionFuncContainer{
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.optionCounterBtn{
    padding: 1px 6px;
    cursor: pointer;
    border: 1.5px solid #004e78;;
    background-color: white;
}

.optionCounterBtn:active{
    background-color:#004e78 ;
    color: white;
}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}




.searchBtn {
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    color: white;
    font-weight: 600;
    background-color: #246ce9;
    cursor: pointer;
    letter-spacing: 0.5px;
    height: 100%;
}

.searchBtn:hover{
    color: #246ce9;
    background-color: white;
    
}