#navBarContainer {
    width: 100%;
    background-color: #003b95;
    display: flex;
    justify-content: center;
}

#navBar {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.user_name{
    text-transform: capitalize;
    letter-spacing: 1px;
}

#navBar .navBarBtn{
    padding: 6px 8px;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 20px;
    color: #006ce4;;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

#navBar .navBarBtn:hover{
    background-color: #246ce9;
    color: white !important;
}


/*  registration line */


.joinNowLink{
    background-color:#006ce4;
    color: white !important;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 18px;
}

.joinNowLink:hover{
    color:#006ce4 !important;
    background-color: white;
}